@import url("https://fonts.cdnfonts.com/css/mont");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,80");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  
  max-width: 100vw;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
/*###########################################################################################  */
/*#########################################mobile############################################  */
/*###########################################################################################  */

@media screen and (max-width: 480px) {

  .mobileMenu{
		width: 100vw;
		height: 100vh;
		position: fixed;
		z-index: 200;
		background-color: rgb(11, 11, 11);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		left: 100%;
		opacity: 0;
		transition: 0.4s ease;
	}

	.x{
		width: 6vw;
		position: absolute;
		top: 4%;
		right: 8%;
	}

	.mobileMenu ul {
		display: flex;
		flex-direction: column;
	}
	
	.mobileMenu ul li {
		font-family: "montserrat", sans-serif;
		color: #dedede;
		margin:  30px 0;
		font-size: 18px;
		text-align: center;
	}

  #header {
    width: 100%;
    height: 10vh;
    position: absolute;
    z-index: 10;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  }

  #logo{
    display: none;
  }
  
  #logo, #logoWhite, .hamburger {
    height: 5vh;
    z-index: 300;
  }

  
  #header ul {
    display: none;
  }
  
  
  #main {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .main-left {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/kuchyna4.jpg);
    background-size: cover;
    background-position: center;
    z-index: 5;
  }
  
  .main-left h1 {
    font-family: "montserrat";
    font-size: 60px;
    font-weight: 600;
    width: 90vw;
    color: white;
  }
  
  .main-text {
    font-family: "montserrat";
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    margin: 5vh 0 20vh 0;
    color: white;
  }

  .main-right a{
    width: 300px;
    height: 80px;
    z-index: 100;
  }
  
  .main-left div {
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    z-index: 1;
  }
  
  .main-left div p {
    font-family: "montserrat";
    font-size: 20px;
    font-weight: 500;
    color: white;
    z-index: 1;
  }
  
  .main-right {
    display: none;
  }
  
  #services {
    width: 100%;
  }
  
  .services-heading {
    font-family: "montserrat";
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }
  
  .services-box {
    width: 100%;
    position: relative;
  }
  
  .service {
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    transition: 0.4s ease;
    overflow-y: hidden;
    border-bottom: 5px solid black;
  }
  
  .service1 {
    background-image: url(../images/kuchyna3.jpg);
  }
  
  .service2 {
    background-image: url(../images/policka1.jpg);
  }
  
  .service3 {
    background-image: url(../images/schody1.jpg);
  }
  
  .service4 {
    background-image: url(../images/dvere1.jpg);
    border: none;
  }
  
  .service-cover {
    width: 100%;
    padding: 0 5%;
    height: 40vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      266deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.731) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .service-cover h4 {
    font-family: "montserrat";
    font-size: 30px;
    color: white;
    font-weight: 500;
    margin-bottom: 3vh;
  }
  
  .service-cover p {
    font-family: "montserrat";
    font-size: 15px;
    color: white;
    font-weight: 500;
    line-height: 25px;
    max-width: 80vw;
    margin-bottom: 3vh;
  }
  
  .service-button {
    width: 200px;
    height: 50px;
    border: 2px solid white;
    opacity: 0;
    display: flex;
    transition: 0.4s ease;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .service-button p {
    margin: 0;
  }

  .service-button a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #about {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
  }
  
  #about h2{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 60px;
    color: black;
    width: 70vw;
    margin: 10vh 0 5vh 0;
  }
  
  .about-left{
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .about-left video{
    width: 80vw;
  }
  
  .about-right{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .about-right p{
    font-family: "montserrat";
    font-size: 15px;
    color: black;
    font-weight: 500;
    line-height: 35px;
  }
  
  
  
  #testemonials{
    width: 100vw;
    background-image: url(../images/bg-01.png);
    background-size: 120%;
    background-position:30%;
    background-repeat: no-repeat;
  }
  
  #testemonials h2{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 40px;
    color: black;
    text-align: center;
    margin: 20vh 0 5vh 0;
  }
  
  .testemonials-box{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .testemonial{
    width: 90%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
    margin: 2vh 0;
  
  }
  
  .testemonial img{
    max-width: 10vw;
  }
  
  .testemonial h4{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 30px;
    color: black;
    text-align: center;
    margin-bottom: 2vh;
  }
  
  .testemonial p{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 15px;
    line-height:25px;
    color: black;
    text-align: center;
  }
  
  #gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
  }
  
  figure{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
  }
  
  figcaption{
    position: absolute;
    transform: translateY(30px);
    opacity: 0;
    color: white;
    z-index: 50;
    transition: 0.3s ease;
  
  }
  
  span{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease;
    
  }
  
  
  .galery-column{
    width: 80vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  .galery-column img{
    width: 100%; 
    margin: 10px 0;
  }
  
  #footer{
    width: 100%;
    padding: 0 5%;
    margin-top: 10vh;
  
  }
  
  .footer-box{
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-box div{
    width: 80vw;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
  }

  .footer-box div:last-child{
    display: none;
  }
  
  .footer-box div p{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 15px;
    line-height:25px;
    margin-top: 2vh;
  }
  
  .footer-box div a{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 15px;
    line-height:25px;
  }
  
  .footer-box div h4{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 25px;
    line-height:25px;
    margin: 2vh 0 2vh 0;
  }
  
  .footer-box img{
    height: 20vh;
    margin-right: 5vw;
  }
  
  .rights{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    margin: 20px 0 20px 0;
  }
}

/*###########################################################################################  */
/*#########################################tablet############################################  */
/*###########################################################################################  */

@media screen and (max-width: 1024px) and (min-width: 481px) {
  .mobileMenu{
		width: 100vw;
		height: 100vh;
		position: fixed;
		z-index: 200;
		background-color: rgb(11, 11, 11);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		left: 100%;
		opacity: 0;
		transition: 0.4s ease;
	}

	.x{
		width: 6vw;
		position: absolute;
		top: 4%;
		right: 8%;
	}

	.mobileMenu ul {
		display: flex;
		flex-direction: column;
	}
	
	.mobileMenu ul li {
		font-family: "montserrat", sans-serif;
		color: #dedede;
		margin:  30px 0;
		font-size: 25px;
		text-align: center;
	}

  #header {
    width: 100%;
    height: 10vh;
    position: absolute;
    z-index: 2;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  }

  #logo{
    display: none;
  }
  
  #logo, #logoWhite, .hamburger {
    height: 5vh;
    z-index: 300;
  }

  
  #header ul {
    display: none;
  }
  
  
  #main {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .main-left {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/kuchyna4.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  .main-left h1 {
    font-family: "montserrat";
    font-size: 80px;
    font-weight: 600;
    width: 90vw;
    color: white;
  }
  
  .main-text {
    font-family: "montserrat";
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    margin: 5vh 0 20vh 0;
    color: white;
  }
  
  .main-left div {
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    position: absolute;
    bottom: 7vh;
  }
  
  .main-left div p {
    font-family: "montserrat";
    font-size: 20px;
    font-weight: 500;
    color: white;
  }
  
  .main-right {
    display: none;
  }
  
  #services {
    width: 100%;
  }
  
  .services-heading {
    font-family: "montserrat";
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }
  
  .services-box {
    width: 100%;
    position: relative;
  }
  
  .service {
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    transition: 0.4s ease;
    overflow-y: hidden;
    border-bottom: 5px solid black;
  }
  
  .service1 {
    background-image: url(../images/kuchyna3.jpg);
  }
  
  .service2 {
    background-image: url(../images/policka1.jpg);
  }
  
  .service3 {
    background-image: url(../images/schody1.jpg);
  }
  
  .service4 {
    background-image: url(../images/dvere1.jpg);
    border: none;
  }
  
  .service-cover {
    width: 100%;
    padding: 0 5%;
    height: 40vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      266deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.731) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .service-cover h4 {
    font-family: "montserrat";
    font-size: 40px;
    color: white;
    font-weight: 500;
    margin-bottom: 3vh;
  }
  
  .service-cover p {
    font-family: "montserrat";
    font-size: 18px;
    color: white;
    font-weight: 500;
    line-height: 25px;
    max-width: 80vw;
    margin-bottom: 3vh;
  }
  
  .service-button {
    width: 200px;
    height: 50px;
    border: 2px solid white;
    opacity: 0;
    display: flex;
    transition: 0.4s ease;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .service-button p {
    margin: 0;
  }

  .service-button a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #about {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
  }
  
  #about h2{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 80px;
    color: black;
    width: 70vw;
    margin: 10vh 0 5vh 0;
  }
  
  .about-left{
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .about-left video{
    width: 80vw;
  }
  
  .about-right{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .about-right p{
    font-family: "montserrat";
    font-size: 18px;
    color: black;
    font-weight: 500;
    line-height: 35px;
  }
  
  
  
  #testemonials{
    width: 100vw;
    background-size: 120%;
    background-position:30%;
    background-repeat: no-repeat;
  }
  
  #testemonials h2{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 60px;
    color: black;
    text-align: center;
    margin: 20vh 0 5vh 0;
  }
  
  .testemonials-box{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .testemonial{
    width: 90%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
    margin: 2vh 0;
  
  }
  
  .testemonial img{
    max-width: 10vw;
  }
  
  .testemonial h4{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 40px;
    color: black;
    text-align: center;
    margin-bottom: 2vh;
  }
  
  .testemonial p{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height:25px;
    color: black;
    text-align: center;
  }
  
  #gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10vh;
  }
  
  figure{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
  }
  
  figcaption{
    position: absolute;
    transform: translateY(30px);
    opacity: 0;
    color: white;
    z-index: 50;
    transition: 0.3s ease;
  
  }
  
  span{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease;
    
  }
  
  
  .galery-column{
    width: 33.33333vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    
  }
  
  .galery-column img{
    width: 100%; 
  }
  
  #footer{
    width: 100%;
    padding: 0 5%;
  
  }
  
  .footer-box{
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-box div{
    width: 80vw;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
  }

  .footer-box div:last-child{
    display: none;
  }
  
  .footer-box div p{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height:25px;
    margin-top: 2vh;
  }
  
  .footer-box div a{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height:25px;
  }
  
  .footer-box div h4{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 30px;
    line-height:25px;
    margin: 2vh 0 2vh 0;
  }
  
  .footer-box img{
    height: 20vh;
    margin-right: 5vw;
  }
  
  .rights{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin: 20px 0 20px 0;
  }
}

/*###########################################################################################  */
/*#########################################notebook##########################################  */
/*###########################################################################################  */

@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .mobileMenu{
    display: none;
  }

  .hamburger{
    display: none;
  }

  #header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  }
  
  #logo {
    height: 5vh;
  }

  #logoWhite{
    display: none;
  }
  
  #header ul {
    display: flex;
    flex-direction: row;
  }
  
  #header ul li {
    font-family: "montserrat";
    margin: 0 30px;
    font-size: 18px;
  }
  
  #main {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 0 0 5%;
  }
  
  .main-left {
    width: 40vw;
    min-height: 80vh;
    position: relative;
    padding: 10vh 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .main-left h1 {
    font-family: "montserrat";
    font-size: 60px;
    font-weight: 500;
    width: 80vw;
  }
  
  .main-text {
    font-family: "montserrat";
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    margin: 5vh 0 0 0;
  }
  
  .main-left div {
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    position: absolute;
    bottom: 7vh;
  }
  
  .main-left div p {
    font-family: "montserrat";
    font-size: 20px;
    font-weight: 500;
  }
  
  .main-right {
    width: 60vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  
  .box-img {
    width: 55vw;
    height: 75vh;
    background-image: url(../images/kuchyna3.jpg);
    background-size: cover;
  }
  
  
  #services {
    width: 100%;
  }
  
  .services-heading {
    font-family: "montserrat";
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }
  
  .services-box {
    width: 100%;
    position: relative;
  }
  
  .service {
    width: 100%;
    height: 30vh;
    background-size: 130%;
    background-position: center;
    transition: 0.4s ease;
    overflow-y: hidden;
    border-bottom: 5px solid black;
  }
  
  .service1 {
    background-image: url(../images/kuchyna3.jpg);
    background-position: center 70%;
  }
  
  .service2 {
    background-image: url(../images/policka4.jpg);
    background-size: cover;
    background-position: center 55%;
  }
  
  .service3 {
    background-image: url(../images/schody2.jpg);
    background-size: cover;
  }
  
  .service4 {
    background-image: url(../images/dvere4.jpg);
    background-size: cover;
    border: none;
  }
  
  .service-cover {
    width: 100%;
    padding: 0 5%;
    height: 40vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      266deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.731) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .service-cover h4 {
    font-family: "montserrat";
    font-size: 40px;
    color: white;
    font-weight: 500;
    margin-bottom: 3vh;
  }
  
  .service-cover p {
    font-family: "montserrat";
    font-size: 18px;
    color: white;
    font-weight: 500;
    line-height: 25px;
    max-width: 40vw;
    margin-bottom: 3vh;
  }
  
  .service-button {
    width: 200px;
    height: 50px;
    border: 2px solid white;
    opacity: 0;
    display: flex;
    transition: 0.4s ease;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .service-button a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .service-button p {
    margin: 0;
  }
  
  #about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
  }
  
  #about h2{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 60px;
    color: black;
    width: 70vw;
    margin: 10vh 0 5vh 0;
  }
  
  .about-left{
    width: 50%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .about-left video{
    width: 40vw;
  }
  
  .about-right{
    width: 50%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .about-right p{
    font-family: "montserrat";
    font-size: 18px;
    color: black;
    font-weight: 500;
    line-height: 35px;
  }
  
  
  
  #testemonials{
    width: 100vw;
    background-image: url(../images/bg-01.png);
    background-size: 120%;
    background-position:30%;
    background-repeat: no-repeat;
  }
  
  #testemonials h2{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 60px;
    color: black;
    text-align: center;
    margin: 20vh 0 5vh 0;
  }
  
  .testemonials-box{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .testemonial{
    width: 30%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
  
  }
  
  .testemonial img{
    max-width: 10vw;
  }
  
  .testemonial h4{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 40px;
    color: black;
    text-align: center;
    margin-bottom: 5vh;
  }
  
  .testemonial p{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height:25px;
    color: black;
    text-align: center;
  }
  
  #gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20vh;
  }
  
  figure{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
  }
  
  figcaption{
    position: absolute;
    transform: translateY(30px);
    opacity: 0;
    color: white;
    z-index: 50;
    transition: 0.3s ease;
  
  }
  
  span{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease;
    
  }
  
  
  .galery-column{
    width: 33.33333vw;
    min-height: 140vh;
    display: flex;
    flex-direction: column;
    
  }
  
  .galery-column img{
    width: 100%; 
  }
  
  #footer{
    width: 100%;
    padding: 0 5%;
    margin-top: 10vh;
  
  }
  
  .footer-box{
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .footer-box div{
    width: 20vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
  }
  
  .footer-box div p{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height:25px;
    margin-top: 2vh;
  }
  
  .footer-box div a{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height:25px;
  }
  
  .footer-box div h4{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 30px;
    line-height:25px;
    margin: 2vh 0 2vh 0;
  }
  
  .footer-box img{
    height: 25vh;
    margin-right: 5vw;
  }
  
  .rights{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 20px 0;
  }
}


/*###########################################################################################  */
/*#########################################pc##########################################  */
/*###########################################################################################  */

@media screen and (min-width: 1401px) {

  .mobileMenu{
    display: none;
  }

  .hamburger{
    display: none;
  }

  #header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  }
  
  #logo {
    height: 5vh;
  }

  #logoWhite{
    display: none;
  }
  
  #header ul {
    display: flex;
    flex-direction: row;
  }
  
  #header ul li {
    font-family: "montserrat";
    margin: 0 30px;
    font-size: 18px;
  }
  
  #main {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 0 0 5%;
  }
  
  .main-left {
    width: 40vw;
    min-height: 80vh;
    position: relative;
    padding: 10vh 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .main-left h1 {
    font-family: "montserrat";
    font-size: 80px;
    font-weight: 500;
    width: 80vw;
  }
  
  .main-text {
    font-family: "montserrat";
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    margin: 5vh 0 0 0;
  }
  
  .main-left div {
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    position: absolute;
    bottom: 7vh;
  }
  
  .main-left div p {
    font-family: "montserrat";
    font-size: 20px;
    font-weight: 500;
  }
  
  .main-right {
    width: 60vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  
  .box-img {
    width: 55vw;
    height: 75vh;
    background-image: url(../images/kuchyna3.jpg);
    background-size: cover;
    box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.322)
  }
  
  
  #services {
    width: 100%;
  }
  
  .services-heading {
    font-family: "montserrat";
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }
  
  .services-box {
    width: 100%;
    position: relative;
  }
  
  .service {
    width: 100%;
    height: 30vh;
    background-size: 130%;
    background-position: center;
    transition: 0.4s ease;
    overflow-y: hidden;
    border-bottom: 5px solid black;
  }
  
  .service1 {
    background-image: url(../images/kuchyna3.jpg);
    background-position: center 70%;
  }
  
  .service2 {
    background-image: url(../images/policka4.jpg);
    background-size: cover;
    background-position: center 55%;
  }
  
  .service3 {
    background-image: url(../images/schody2.jpg);
    background-size: cover;
  }
  
  .service4 {
    background-image: url(../images/dvere4.jpg);
    background-size: cover;
    border: none;
  }
  
  .service-cover {
    width: 100%;
    padding: 0 5%;
    height: 40vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      266deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.731) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .service-cover h4 {
    font-family: "montserrat";
    font-size: 40px;
    color: white;
    font-weight: 500;
    margin-bottom: 3vh;
  }
  
  .service-cover p {
    font-family: "montserrat";
    font-size: 18px;
    color: white;
    font-weight: 500;
    line-height: 25px;
    max-width: 40vw;
    margin-bottom: 3vh;
  }

  
  .service-button a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .service-button {
    width: 200px;
    height: 50px;
    border: 2px solid white;
    opacity: 0;
    display: flex;
    transition: 0.4s ease;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .service-button p {
    margin: 0;
  }
  
  #about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
  }
  
  #about h2{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 60px;
    color: black;
    width: 70vw;
    margin: 10vh 0 5vh 0;
  }
  
  .about-left{
    width: 50%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .about-left video{
    width: 40vw;
  }
  
  .about-right{
    width: 50%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .about-right p{
    font-family: "montserrat";
    font-size: 18px;
    color: black;
    font-weight: 500;
    line-height: 35px;
  }
  
  
  
  #testemonials{
    width: 100vw;
    background-image: url(../images/bg-01.png);
    background-size: 120%;
    background-position:30%;
    background-repeat: no-repeat;
  }
  
  #testemonials h2{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 60px;
    color: black;
    text-align: center;
    margin: 20vh 0 5vh 0;
  }
  
  .testemonials-box{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .testemonial{
    width: 30%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
  
  }
  
  .testemonial img{
    max-width: 10vw;
  }
  
  .testemonial h4{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 40px;
    color: black;
    text-align: center;
    margin-bottom: 5vh;
  }
  
  .testemonial p{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height:25px;
    color: black;
    text-align: center;
  }
  
  #gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20vh;
  }
  
  figure{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
  }
  
  figcaption{
    position: absolute;
    transform: translateY(30px);
    opacity: 0;
    color: white;
    z-index: 50;
    transition: 0.3s ease;
  
  }
  
  span{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease;
    
  }
  
  
  .galery-column{
    width: 33.33333vw;
    min-height: 140vh;
    display: flex;
    flex-direction: column;
    
  }
  
  .galery-column img{
    width: 100%; 
  }
  
  #footer{
    width: 100%;
    padding: 0 5%;
    margin-top: 10vh;
  
  }
  
  .footer-box{
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .footer-box div{
    width: 20vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
  }
  
  .footer-box div p{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height:25px;
    margin-top: 2vh;
  }
  
  .footer-box div a{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height:25px;
  }
  
  .footer-box div h4{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 30px;
    line-height:25px;
    margin: 2vh 0 2vh 0;
  }
  
  .footer-box img{
    height: 25vh;
    margin-right: 5vw;
  }
  
  .rights{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 20px 0;
  }
}


.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.hidden-left {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(100%);
}

.opacityVisibility{
  opacity: 0;
  transition: all 0.5s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

.delay1 {
  transition-delay: 200ms;
}

.delay2 {
  transition-delay: 400ms;
}